@model WebAPI.Models.Film

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section boxTitle {
    <div class="col-md-12">
        @Html.ActionLink("Trở về", "Index")
    </div>
}
<h2>Sửa phim</h2>

<form name="formAddFilm" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <input type="hidden" value="@Model.FilmID" name="FilmID" />
        <div class="container">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Ảnh hiển thị</label>
                    <input type="file" name="images" value="" accept="image/*">
                    <div class="view-images">
                        <img src="@Model.Images" id="image-film" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Trailer (Mã nhúng)</label>
                    <textarea name="trailer" rows="2" class="form-control" onblur="ViewTrailer()">&lt;iframe src=&quot;https:&sol;&sol;www.youtube.com&sol;embed&sol;K5jjNqAlmaM&quot; &gt;&lt;&sol;iframe&gt;</textarea>
                    <div class="view-trailer">
                        <iframe width="1132" height="637" src="@Model.Trailer" id="frmTrailer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="">Tên phim</label>
                    <input type="text" class="form-control" name="FilmName" id="" placeholder="Tên phim" value="@Model.FilmName">
                </div>

                <div class="form-group">
                    <label for="">Đạo diễn</label>
                    <input type="text" class="form-control" name="Author" id="" placeholder="Đạo diễn" value="@Model.Author">
                </div>

                <div class="form-group">
                    <label for="">Nhà sản xuất</label>
                    <input type="text" class="form-control" name="Producer" id="" placeholder="Nhà sản xuất" value="@Model.Producer">
                </div>

                <div class="form-group">
                    <label for="">Quốc gia</label>
                    <input type="text" class="form-control" name="Nation" id="" value="@Model.Nation" />
                </div>

                <div class="form-group">
                    <label for="">Ngày khởi chiếu</label>
                    @{
                        var date = String.Format("{0:yyyy-MM-dd}", Model.ReleaseDate);
                    }
                    <input type="date" class="form-control" name="ReleaseDate" id="" value="@date" />
                </div>
                <div class="form-group">
                    <label for="">Diễn viên</label>
                    <input type="text" class="form-control" name="Actor" id="" value="@Model.Actor" />
                </div>
                <div class="form-group">
                    <label for="">Đánh giá</label>
                    <input type="text" class="form-control" name="Rated" id="" placeholder="5.0" value="@Model.Rated" />
                </div>
            </div>
            <div class="form-group">
                <label for="">Chi tiết</label>
                <textarea name="Description" rows="5" class="form-control">@Model.Description</textarea>
            </div>

            <div class="form-group">
                <div>Trạng thái</div>

                <input type="radio" class="cr-pointer" name="Status" id="st-0" value="0" /><label for="st-0" class="cr-pointer">Sắp chiếu</label>
                <input type="radio" class="cr-pointer" name="Status" id="st-1" value="1" /><label for="st-1" class="cr-pointer">Đang chiếu</label>
                <input type="radio" class="cr-pointer" name="Status" id="st-2" value="2" /><label for="st-2" class="cr-pointer">Ngừng chiếu</label>
            </div>

            <div class="form-group check-box-genre-film">
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    CheckBoxGenreFilm(@Model.FilmID);
                    $("input[name='Status'][value='" + @Model.Status + "']").prop('checked', true);
                    UploadChange('@Model.Images');
                })
            </script>

            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="BtnEditFilm_Click()">Sửa</button>
            </div>
        </div>
    </div>

</form>